@CHARSET "ISO-8859-1";

.header {
	font-size: xx-large;
	font-weight: bold;
	color: red;
	border: 5px solid red;
}

.body {
	border: 5px solid red;
}

.footer {
	border: 5px solid red;
}

.left {
	border: 5px solid red;
}